@charset "UTF-8";

.inline-box{
  display: inline-block;
  width: 200px;
  padding: 20px 0;
  font-size: 16px;
  background: #fff;
}

.align--box{
 text-align: center;
}

.text-align{
 display: inline-block;
 padding: 10px;
 background: #a4b3e9;
}

.margin{
  text-align: center;
  margin: 0 auto;
  width: 90px;
  padding: 10px;
  background: #a4b3e9;
}
