@charset "UTF-8";
.item{
  width: 65px;
  color: #fff;
  background: #00bbdd;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.content{
  display: flex;
  flex-direction: row;
}
.content2{
  display: flex;
  flex-direction: row-reverse;
}
.content3{
  display: flex;
  flex-direction: column;
}
.content4{
  display: flex;
  flex-direction: column-reverse;
}
.flex-nowrap{
  display: flex;
  flex-wrap:nowrap;
}
.flex-rowwrap{
  display: flex;
  flex-flow: row wrap;
}
.flex-row-reverse{
  display: flex;
  flex-wrap: wrap-reverse;
}
.j-flex-start{
  display: flex;
  justify-content: flex-start;
}
.j-flex-end{
  display: flex;
  justify-content: flex-end;
}
.j-center{
  display: flex;
  justify-content: center;
}
.j-space-between{
  display: flex;
  justify-content: space-between;
}
.j-space-around{
  display: flex;
  justify-content: space-around;
}
.g-grid-template-columns{
  display: grid;
  gap: 10px;
  grid-template-columns: 200px 200px 200px;
  margin-bottom: 20px;
}
.g-grid-template-columns2{
  display: grid;
  gap:10px;
  grid-template-columns: auto auto auto;
  margin-bottom: 20px;
}
.grid{
  color: #fff;
  background: #00bbdd;
  padding: 10px;
}
.f-grid-rows{
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 190px;
}
.grid--wrapper{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
  margin-top: 20px;
}
.red--box{
  background-color: #dd0700;
  grid-column: 1/3;
}
.green--box{
  background-color: #0bdd00;
  grid-row: 2/4;
}
.yellow--box{
  background-color: #d9dd00;
  grid-column: 2/4;
}