@charset "UTF-8";
.main--box{
  display: table;
  width: 100%;
  margin-top: 50px;
}
.main--area.main--box:last-child{
  margin-top: 0;
}
.common--box{
  display: table-cell;
  padding: 20px;
  text-align: center;
}
.box--1{
  width: 300px;
  background: #ff7b7b;
}
.box--2{
  background: #7b86ff;
}
.box--3{
  width: 300px;
  background: #fff27b;
}

.box--4{
  background: #7bff91;
}
.box--5{
  width: 400px;
  background: #ff7be2;
}
.box--6{
  width: 400px;
  background: #ffc67b;
}
.box--7{
  background: #7bf2ff;
}
